/* Footer */
.footer {
  padding: 20px 103px;
  font-size: 14px;
  color: #2d2c2c;
  background: #000;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #2b2a2a;
}

.footer-links,
.footer-small-links .small-links,
.social-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a,
.footer-small-links a {
  color: rgb(196, 190, 190);
  text-decoration: none;
}

.footer-links a:hover,
.footer-small-links a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.footer-copy {
  font-size: 13px;
  color: rgb(196, 190, 190);
}

/* Social Icons */
.social-icons .icon {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}


.instagram-icon:hover {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #feda77);
  color: #fff;
  border-color: transparent;
}


.youtube-icon:hover {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.x-icon:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.linkedin-icon:hover {
  background: #0077b5;
  color: #fff;
  border-color: #0077b5;
}


/* Responsive Footer */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-top,
  .footer-bottom {
    display: contents;
    text-align: left;
  }

  .footer-links {
    order: 1;
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-bottom: 15px;
  }

  .footer-links a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    color: #f8efef;
  }

  .footer-links a:last-child {
    border-bottom: none;
  }

  .footer-small-links {
    order: 2;
    width: 100%;
  }

  .footer-social {
    order: 3;
    width: 100%;
  }

  .footer-social .social-icons {
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0;
  }

  .footer-copy {
    order: 4;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
  }
}
