/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* ensure header spans full width */
  z-index: 1000; /* ensure header is above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  gap: 40px;
  min-height: 54px;
  background: #000; /* ensure background when fixed */
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  box-sizing: border-box;
}
body{
  margin-top: 84px; 
}
.header.menu-open {
  background: #000;
  min-height: 84px; 
 
}


.logo-img,
.menu-logo img {
  height: 50px;
  width: 100px;
  object-fit: contain;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.menu-icon {
  margin-left: 5px;
  font-size: 18px;
}

/* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 1%;
  left: 6.7%;
  width: 82.5%;
  height: 40px;
  background: #fff;
  color: #000;
  z-index: 2000;
  display: flex;
  align-items: center;
  padding: 12px 32px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-links {
  display: flex;
  gap: 28px;
  flex: 1;
  justify-content: center;
  margin-right: 0;
}

.menu-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.menu-links a:hover {
  color: #444;
}

.menu-close-btn {
  position: absolute;
  top: 14px;
  right: 20px;
  background: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 5000;
}

/* Responsive Header */
@media (max-width: 768px) {
  .header {
    border-bottom: none;
    padding: 15px 20px;
  }

  .menu-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 280px 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .menu-logo img {
    width: 120px;
    margin-bottom: 10px;
  }

  .menu-close-btn {
    top: 20px;
    right: 20px;
    font-size: 28px;
  }

  .menu-links {
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  .menu-links a {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a7a4a4;
  }
}
